* {
  padding: 0;
  margin: 0;
}
body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei,
    Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  background-color: #fff;
  min-width: 1226px;
}
/* 头部样式 */
.header-wrapper {
  height: 40px;
  background-color: #333333;
}
.header {
  width: 1226px;
  margin: 0 auto;
}
.header a {
  color: #b0b0b0;
  font-size: 12px;
  line-height: 40px;
}
.header a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #424242;
  margin: 0 4px 0 8px;
  vertical-align: middle;
}
.left a:hover,
.right a:hover {
  color: white;
  cursor: pointer;
}
.header a:last-child::after,
.right a:nth-child(3)::after,
.shoppingcart a::after {
  display: none;
}
.left {
  width: 794px;
  display: flex;
  justify-content: space-between;
}
.right {
  width: 143px;
  margin-top: -40px;
  margin-right: 135px;
  float: right;
}
/* 购物车样式 */
.shoppingcart {
  margin-top: -40px;
  float: right;
  width: 120px;
  margin-left: 15px;
  text-align: center;
  background-color: #424242;
  position: relative;
}
.shoppingcart i {
  font-size: 20px;
  color: #b0b0b0;
  position: relative;
  top: 3px;
}
.shoppinglist {
  width: 316px;
  height: 0;
  overflow: hidden;
  background-color: white;
  position: absolute;
  left: -196px;
  box-shadow: -5px 5px 5px -4px rgba(0, 0, 0, 0.1),
    5px 5px 5px -4px rgba(0, 0, 0, 0.1);
  transition: height 0.5s;
}
.shoppinglist span {
  font-size: 10px;
  line-height: 100px;
}
.shoppingcart:hover {
  background-color: rgb(255, 255, 255);
  position: relative;
  z-index: 99;
  cursor: pointer;
}
.shoppingcart:hover a,
.shoppingcart:hover i {
  color: #ff6700;
}
.shoppingcart:hover .shoppinglist {
  height: 100px;
  transition: height 0.5s;
}
/* 第二栏样式 */
.navigation {
  height: 100px;
  background-color: white;
  width: 1226px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 56px;
  height: 56px;
  padding: 22px 0;
  cursor: pointer;
}
.logo img {
  width: 56px;
  height: 56px;
}
.product {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding-left: 102px;
  padding-top: 12px;
}
.product span {
  padding: 26px 10px 38px 10px;
  position: relative;
}
/* 第二栏商品弹出菜单 */
.product span:nth-child(1):hover + #xiaomiphones,
.product span:nth-child(3):hover + #redmiphones,
.product span:nth-child(5):hover + #TV,
.product span:nth-child(7):hover + #laptop {
  height: 230px;
  transition: 0.3s height;
  box-shadow: -5px 5px 5px -4px rgba(0, 0, 0, 0.1),
    5px 5px 5px -4px rgba(0, 0, 0, 0.1), 0px -5px 1px -5px rgb(116, 116, 116);
}
.items {
  width: 100%;
  min-width: 1226px;
  height: 0px;
  position: absolute;
  left: 0;
  top: 140px;
  background-color: rgb(255, 255, 255);
  transition: 0.3s height;
  box-shadow: -5px 5px 5px -4px rgba(0, 0, 0, 0.1),
    5px 5px 5px -4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: flex;
  justify-content: center;
  flex: 1;
  overflow: hidden;
}
.items li {
  list-style: none;
  height: 100%;
  width: 204px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
}
.items li img {
  width: 160px;
  height: 110px;
  margin: 41px 22px 20px 22px;
}
.items li span {
  padding: 0;
}
.items li span:nth-child(3) {
  color: #ff6700;
}
.items li::after {
  content: "";
  width: 1px;
  height: 100px;
  display: block;
  background-color: rgba(199, 199, 199, 0.459);
  position: absolute;
  top: 41px;
  transform: translateX(103px);
}
.items li:last-child::after {
  display: none;
}
/* 搜索框样式 */
input {
  background: none;
  outline: none;
  border: none;
}
.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.3s all;
}
#searchtext {
  width: 223px;
  height: 48px;
  padding: 0 10px;
  background-color: white;
  border: 1px solid #e0e0e0;
  transition: 0.3s all;
}
#searchbtn {
  width: 52px;
  height: 50px;
  padding: 1px 6px;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-left: none;
  transition: 0.3s all;
}
#searchbtn i {
  color: #616161;
  font-size: 18px;
}
.search:hover #searchtext,
.search:hover #searchbtn {
  border-color: #b0b0b0;
  transition: 0.3s all;
}
#searchbtn:hover {
  background-color: #ff6700;
  transition: 0.3s all;
  cursor: pointer;
  border: none;
}
#searchbtn:hover i {
  color: white;
}
/* 下载APP二维码样式 */
.appcode-wrapper {
  position: relative;
  display: inline-block;
}
.appcode-wrapper::before {
  content: "";
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid white;
  border-left: 8px solid transparent;
  position: absolute;
  top: 24px;
  left: 15px;
  display: none;
}
.appcode {
  width: 124px;
  height: 0px;
  background-color: white;
  position: absolute;
  left: -40px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 1;
  font-size: 14px;
  color: black;
  transition: 0.3s height;
  overflow: hidden;
  z-index: 999;
}
.appcode img {
  width: 90px;
  height: 90px;
  margin: 18px 17px 10px 17px;
}
.appcode-wrapper:hover .appcode {
  height: 148px;
  transition: 0.3s height;
  z-index: 999;
}
.appcode-wrapper:hover::before {
  display: block;
}
/* 第三栏样式 */
.home-menu {
  margin: 0 auto;
  width: 1226px;
  margin-bottom: 26px;
}
.swiper {
  height: 460px;
  position: relative;
}
/* 侧边栏 */
.swiper > .swiper-menu {
  width: 234px;
  height: 420px;
  padding: 20px 0;
  float: left;
  background-color: #69656599;
  position: absolute;
  z-index: 99;
}
.swiper-menu > ul > li {
  list-style: none;
  width: 204px;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  color: white;
  padding-left: 30px;
  position: relative;
}
.swiper-menu > ul > li::after {
  content: "\e693";
  font-family: iconfont;
  font-size: 12px;
  position: absolute;
  right: 25px;
  color: #e0e0e0;
}
/* 轮播图 */
.swiper .radio-slider img {
  width: 1226px;
  height: 460px;
  position: absolute;
  opacity: 0;
}
.swiper input {
  display: none;
}
.radio-slider {
  width: 1226px;
  height: 460px;
  position: relative;
  overflow: hidden;
}
.label-wrapper {
  position: absolute;
  right: 30px;
  bottom: 20px;
  z-index: 99;
}
.label-wrapper label {
  width: 6px;
  height: 6px;
  border: 2px solid hsla(0, 0%, 100%, 0.3);
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  background-color: #00000066;
}
.swiper input:nth-child(1):checked ~ .radio-slider img:nth-child(1),
.swiper input:nth-child(2):checked ~ .radio-slider img:nth-child(2),
.swiper input:nth-child(3):checked ~ .radio-slider img:nth-child(3),
.swiper input:nth-child(4):checked ~ .radio-slider img:nth-child(4) {
  opacity: 1;
  transition: 1s all;
}
.swiper input:nth-child(1):checked ~ .label-wrapper label:nth-child(1),
.swiper input:nth-child(2):checked ~ .label-wrapper label:nth-child(2),
.swiper input:nth-child(3):checked ~ .label-wrapper label:nth-child(3),
.swiper input:nth-child(4):checked ~ .label-wrapper label:nth-child(4),
.label-wrapper label:hover {
  background-color: rgba(255, 255, 255, 0.459);
  border-color: rgba(22, 22, 22, 0.411);
  cursor: pointer;
}
/* 侧边栏展开商品页 */
.menu-item {
  position: absolute;
  left: 234px;
  background-color: rgb(255, 255, 255);
  height: 460px;
  top: 0;
  border: 1px solid rgba(199, 199, 199, 0.459);
  border-left: none;
  box-sizing: border-box;
  box-shadow: 0 0 10px 2px rgba(92, 92, 92, 0.13);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  z-index: 9999;
  writing-mode: vertical-lr;
  opacity: 0;
}
.menu-item li {
  padding: 18px 20px;
  background-color: rgb(255, 255, 255);
  color: #333333;
  list-style: none;
  display: flex;
  justify-content: center;
  writing-mode: horizontal-tb;
}
.menu-item > li > img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
.menu-item li .text {
  display: inline-block;
  width: 172px;
  height: 40px;
  line-height: 40px;
}
.swiper-menu > ul > li:hover {
  background-color: #ff6700;
  cursor: pointer;
}
.swiper-menu > ul > li:hover + ul {
  z-index: 999;
  opacity: 1;
}
/* 第四行 */
.home-sub {
  height: 170px;
  width: 1240px;
  /* margin: 0 auto; */
  margin-top: 14px;
  margin-left: -14px;
  display: flex;
  justify-content: flex-end;
}
.home-sub > * {
  margin-left: 14.5px;
}
.home-sub img {
  width: 316px;
  height: 170px;
  transition: 0.2s all;
}
.home-channel-list {
  width: 228px;
  height: 164px;
  padding: 3px;
  background-color: #5f5750;
  display: flex;
  flex-wrap: wrap;
}
.home-channel-list li {
  list-style: none;
  width: 70px;
  height: 82px;
  padding: 0 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #cecccb;
  transition: 0.2s color;
  position: relative;
}
.home-channel-list li .iconfont {
  font-size: 20px;
}
.home-channel-list li:hover {
  color: #eeecec;
  transition: 0.2s color;
  cursor: pointer;
}
.home-sub img:hover {
  box-shadow: 0 0 10px 5px rgba(199, 199, 199, 0.329);
  transition: 0.2s all;
  cursor: pointer;
}
.home-channel-list li::after {
  content: "";
  display: block;
  width: 1px;
  height: 65px;
  left: 0;
  background-color: #b0b0b02c;
  position: absolute;
}
.home-channel-list li::before {
  content: "";
  display: block;
  background-color: #b0b0b02c;
  position: absolute;
  height: 1px;
  width: 60px;
  top: 0;
}
/* 产品 */
.goods-container {
  background-color: #f5f5f5;
  padding: 4px 0 12px 0;
}
.goods {
  margin: 0 auto;
  width: 1226px;
}
.goods h2 {
  width: 1226px;
  height: 58px;
  line-height: 58px;
  font-size: 22px;
  font-weight: 200;
}
.goods .row {
  width: 1240px;
  height: 340px;
  margin-left: -14px;
  display: flex;
  position: relative;
}
/* 秒杀时间 */
.goods .row .flashscale {
  width: 234px;
  height: 300px;
  margin-left: 14px;
  padding-top: 39px;
  border-top: 1px solid red;
  background-color: #f1eded;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goods .row .flashscale h3 {
  color: red;
  font-size: 21px;
  font-weight: normal;
  width: 234px;
  height: 31.5px;
  padding-top: 15px;
  text-align: center;
}
.goods .row .flashscale img {
  width: 34px;
  height: 53px;
  margin: 25px 0px;
}
.goods .row .flashscale .time {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goods .row .flashscale p {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
  margin: 5px 0 28px 0;
}
.goods .row .flashscale .time i {
  font-size: 28px;
  width: 15px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  font-style: normal;
}
.goods .row .flashscale span {
  width: 46px;
  height: 46px;
  background-color: #605751;
  font-size: 24px;
  color: white;
  line-height: 46px;
  text-align: center;
}
.goods .row .slider {
  height: 340px;
  display: flex;
  position: absolute;
  transition: 1s all;
}
.goods .row .slider .product {
  width: 234px;
  height: 340px;
  padding: 0;
  background-color: white;
  margin-right: 14px;
}
.goods .row .slider .product:hover {
  cursor: pointer;
}
.goods .row .slider .product .content {
  width: 234px;
  height: 263px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.goods .row .slider .product .content img {
  width: 160px;
  height: 166px;
  margin: 0 37px 22px 27px;
}
.goods .row .slider .product .content .title,
.phone-box .xiaomi .phones .title,
.home-brick-box .right .home .title {
  padding: 0;
  width: 194px;
  height: 21px;
  font-size: 14px;
  color: #212121;
  margin: 0 20px 3px 20px;
}
.goods .row .slider .product .content > span,
.phone-box .xiaomi .phones > span,
.home-brick-box .right .home > span {
  font-size: 12px;
  padding: 0;
  color: #b0b0b0;
  margin: 0 20px 12px 20px;
}
.goods .row .slider .product .content .price span,
.phone-box .xiaomi .phones .price span,
.home-brick-box .right .home .price span {
  padding: 0;
  font-size: 14px;
  color: #ff6700;
}
.goods .row .slider .product .content .price del,
.phone-box .xiaomi .phones .price del,
.home-brick-box .right .home .price del {
  font-size: 14px;
  color: #b0b0b0;
}
.goods .row .slider .product:nth-child(1),
.goods .row .slider .product:nth-child(5) {
  border-top: 1px solid #ffac13;
}
.goods .row .slider .product:nth-child(2),
.goods .row .slider .product:nth-child(6) {
  border-top: 1px solid #83c44e;
}
.goods .row .slider .product:nth-child(3),
.goods .row .slider .product:nth-child(7) {
  border-top: 1px solid #2196f3;
}
.goods .row .slider .product:nth-child(4),
.goods .row .slider .product:nth-child(8) {
  border-top: 1px solid red;
}
/* 轮播图外部容器 */
.slider-container {
  position: relative;
  width: 978px;
  height: 340px;
  margin-left: 14px;
  overflow: hidden;
}
/* 轮播图按钮 */
.swipe-button {
  display: flex;
  width: 71px;
  height: 24px;
  position: absolute;
  right: 0;
  top: -40px;
}
.swipe-button label:first-child {
  width: 24px;
  height: 16px;
  padding: 3px 5px;
  border: 1px solid #b0b0b0;
}
.swipe-button label + label {
  width: 24px;
  height: 16px;
  padding: 3px 5px;
  border: 1px solid #b0b0b0;
  margin-left: -1px;
}
.swipe-button label::after,
.swipe-button label + label::after {
  display: block;
  font-family: iconfont;
  position: absolute;
  bottom: 1px;
  color: #b0b0b0;
  transition: 0.3s color;
}
.swipe-button label::after {
  content: "\e61c";
  left: 10px;
}
.swipe-button label + label::after {
  content: "\e61d";
  left: 47px;
}
.slider-container input {
  display: none;
}
.swipe-button label:hover::after {
  color: #ff6700;
  transition: 0.3s color;
  cursor: pointer;
}
/* 轮播图动画 */
.slider-container input:nth-child(1):checked ~ .slider {
  transform: translateX(0);
  transition: 1s all;
}
.slider-container input:nth-child(2):checked ~ .slider {
  transform: translateX(-992px);
  transition: 1s all;
}
/* 商品栏下方图片 */
.home-banner-box {
  width: 1226px;
  height: 120px;
  margin: 22px 0;
}
.home-banner-box img {
  width: 100%;
}
.home-banner-box:hover {
  cursor: pointer;
}
.goods h2 .more {
  float: right;
  font-size: 16px;
  font-weight: normal;
  color: #424242;
  position: relative;
  right: 25px;
  transition: 0.3s color;
}
.goods h2 .more::after {
  content: "\e9d4";
  display: block;
  font-family: iconfont;
  position: absolute;
  top: 0;
  right: -28px;
  font-size: 25px;
  color: #b0b0b0;
  transition: 0.3s color;
}
.goods h2 .more:hover,
.goods h2 .more:hover::after {
  color: #ff6700;
  cursor: pointer;
  transition: 0.3s color;
}
/* 手机 */
.phone-box {
  width: 1226px;
  height: 614px;
  display: flex;
}
.phone-box .fold {
  width: 234px;
  height: 614px;
  margin-right: 14px;
  transition: 0.2s;
}
.phone-box .fold img {
  width: 100%;
}
.phone-box .xiaomi {
  width: 992px;
  height: 628px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -14px;
  margin-bottom: -14px;
}
/* 所有商品容器样式 */
.phone-box .xiaomi .phones,
.home-brick-box .right .home {
  width: 234px;
  height: 260px;
  background-color: white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 14px 14px 0;
  transition: 0.2s;
}
.phone-box .xiaomi .phones img,
.home-brick-box .right .home img {
  width: 160px;
  height: 160px;
  margin: 0 37px 18px 37px;
}
.phone-box .xiaomi .phones:hover,
.phone-box .fold:hover {
  transform: translateY(-2px);
  transition: 0.2s;
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
  cursor: pointer;
}
.home-banner-box#tv-scale {
  margin-top: 36px;
}
/* 家电 */
.home-brick-box {
  width: 1226px;
  height: 628px;
  margin-bottom: 8px;
  display: flex;
}
.home-brick-box .left {
  width: 248px;
  height: 614px;
  margin: 0 0 -14px -14px;
  display: flex;
  flex-direction: column;
}
.left .stop {
  width: 234px;
  height: 300px;
  margin: 0 0 14px 14px;
}
.left .stop img {
  width: 100%;
}
.home-brick-box .right {
  width: 978px;
  height: 628px;
  margin-left: 14px;
  margin-top: 0;
  position: relative;
}
.home-brick-box .right .right1,
.home-brick-box .right .right2 {
  display: flex;
  width: 992px;
  height: 628px;
  flex-wrap: wrap;
  position: absolute;
}
.home-brick-box .right .right1 .home-menu,
.home-brick-box .right .right2 .home-menu {
  width: 234px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 14px 14px 0;
  transition: 0.2s;
}
.home-brick-box .right .right1 .home-menu .top,
.home-brick-box .right .right1 .home-menu .bottom,
.home-brick-box .right .right2 .home-menu .top,
.home-brick-box .right .right2 .home-menu .bottom {
  width: 234px;
  height: 93px;
  background-color: rgb(255, 255, 255);
  padding-top: 50px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.home-brick-box .right .right1 .home-menu .top .title,
.home-brick-box .right .right2 .home-menu .top .title {
  width: 94px;
  height: 42px;
  font-size: 14px;
  color: #333;
  font-weight: normal;
  margin: -10px 110px 5px 30px;
}
.home-brick-box .right .right1 .home-menu .top .price,
.home-brick-box .right .right2 .home-menu .top .price {
  width: 94px;
  height: 21px;
  margin: 0 110px 0 30px;
  font-size: 14px;
  color: #ff6700;
}
.home-brick-box .right .right1 .home-menu .top img,
.home-brick-box .right .right2 .home-menu .top img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 32px;
  right: 20px;
}
.home-brick-box .right .right1 .home-menu .bottom,
.home-brick-box .right .right2 .home-menu .bottom {
  margin-bottom: 0;
}
.home-brick-box .right .right1 .home-menu .bottom i,
.home-brick-box .right .right2 .home-menu .bottom i {
  font-size: 58px;
  display: block;
  color: #ff6700;
  position: absolute;
  top: 28px;
  right: 30px;
}
.home-brick-box .right .right1 .home-menu .bottom .more,
.home-brick-box .right .right2 .home-menu .bottom .more {
  font-size: 18px;
  font-weight: 400;
  width: 94px;
  height: 45px;
  margin: -19px 110px 0 30px;
}

.home-brick-box .right .right1 .home-menu .bottom small,
.home-brick-box .right .right2 .home-menu .bottom small {
  font-size: 12px;
  color: #616161;
  display: block;
  width: 94px;
  height: 18px;
  margin: 0 110px 0 30px;
}
/* 商品页面切换按钮 */
.home-brick-box .right input {
  display: none;
}
.home-brick-box .right .home-label-wrapper {
  position: absolute;
  right: -135px;
  top: -40px;
  font-size: 16px;
}
.home-brick-box .right .home-label-wrapper label {
  margin-left: 20px;
  font-weight: 500;
  transition: 0.3s all;
}
.home-brick-box .right .home-label-wrapper label:hover {
  color: #ff6700;
  text-decoration: underline;
  transition: 0.3s all;
}
.home-brick-box .right input:nth-child(2):hover ~ .right1 {
  z-index: 9;
}
.home-brick-box .right input:nth-child(3):hover ~ .right2 {
  z-index: 9;
}
/* 家电页hover样式 */
.home-brick-box .left .stop:hover,
.home-brick-box .right .home:hover,
.home-brick-box .right .home-menu .top:hover,
.home-brick-box .right .home-menu .bottom:hover {
  transform: translateY(-2px);
  transition: 0.2s;
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
  cursor: pointer;
}
/* 视频样式 */
.video-box {
  width: 1240px;
  height: 299px;
  display: flex;
}
.video-item {
  background-color: white;
  width: 296px;
  height: 285px;
  margin: 0 14px 14px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  transition: 0.2s;
}
.video-item img {
  width: 296px;
  height: 180px;
  margin-bottom: 28px;
}
.video-item h3 {
  width: 268px;
  height: 21px;
  margin: 28px 0 14 0px;
  font-size: 14px;
  font-weight: normal;
}
.video-item p {
  width: 268px;
  height: 18px;
  color: #b0b0b0;
  font-size: 12px;
}
.video-item:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.2s;
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
}
/* 播放按钮 */
.video-item .img-box::before {
  content: "\e63d";
  display: block;
  font-family: iconfont;
  position: absolute;
  top: 140px;
  left: 20px;
  font-size: 25px;
  color: white;
  transition: 0.3s color;
  z-index: 9;
}
.video-item .img-box {
  position: relative;
}
.video-item .img-box:hover::before {
  color: #ff6700;
}
/* 底部 */
.footer-service {
  width: 1226px;
  height: 25px;
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
  margin: 0 auto;
  display: flex;
}
.footer-service li {
  list-style: none;
  font-size: 16px;
  color: #616161;
  flex: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s all;
}
.footer-service li i {
  font-size: 24px;
  margin: 0 6px;
}
.footer-service li::after {
  content: "";
  display: block;
  width: 1px;
  height: 25px;
  position: absolute;
  background-color: #e0e0e0;
  right: 0;
}
.footer-service li:last-child::after {
  display: none;
}
.footer-service li:hover {
  color: #ff6700;
  cursor: pointer;
  transition: 0.3s all;
}
.footer-links {
  width: 1226px;
  height: 172.5px;
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-links ul {
  width: 160px;
  height: 0;
  flex: 1;
}
.footer-links ul li {
  list-style: none;
  margin-top: 10px;
  font-size: 12px;
  color: #757575;
}
.footer-links ul li:hover {
  color: #ff6700;
  cursor: pointer;
}
.footer-links ul li:first-child {
  font-size: 14px;
  color: #424242;
  margin: -1px 0 26px 0;
}
.footer-links .right {
  width: 252px;

  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-left: 1px solid #e0e0e0;
}
.footer-links .right .number {
  font-size: 22px;
  color: #ff6700;
}
.footer-links .right .time {
  font-size: 12px;
  color: #616161;
  margin-bottom: 5px;
}
.footer-links .right button {
  width: 118px;
  height: 28px;
  outline: none;
  background-color: transparent;
  border: 1px solid #ff6700;
  border-radius: 0;
  color: #ff6700;
  font-size: 12px;
  align-self: center;
  position: relative;
  transition: 0.5s color;
}
.footer-links .right button i {
  font-size: 12px;
}
.footer-links .right .notice {
  font-size: 12px;
  color: #616161;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.footer-links .right .notice i {
  font-size: 20px;
  margin-left: 10px;
}
.footer-links .right button:hover {
  background-color: #ff6700;
  color: white;
  transition: 0.5s color;
  cursor: pointer;
}
.footer-links .right .notice i:hover {
  color: #ff6700;
}
.site-info-wrapper {
  background-color: #fafafa;
}
.site-info {
  width: 1226px;
  height: 205px;
  padding: 30px 0;
  margin: 0 auto;
}
.container > img {
  width: 56px;
  height: 56px;
  margin-right: 10px;
  position: absolute;
}
.info-text {
  width: 1159px;
  height: 109px;
  padding-left: 67px;
}
.info-text .sites {
  font-size: 12px;
  color: #757575;
}
.info-text .sites a {
  width: 1px;
  height: 12px;
  display: inline-block;
  background-color: #b0b0b0;
  transform: translateY(2px);
}
.info-text .sites span:hover{
  cursor: pointer;
  color: #ff6700;
}
.info-text .sites1 {
  font-size: 12px;
  color: #b0b0b0;
  text-decoration: none;
}
.info-text .sites1 a {
  text-decoration: none;
  color: #b0b0b0;
}
.info-text .sites1 a:hover{
  color: #ff6700;
}
.info-text img {
  height: 28px;
  width: auto;
}
.slogan {
  margin-top: 60px;
  text-align: center;
  font-family: 楷体;
  font-size: 24px;
  color: #b0b0b0;
}
.sidebar{
  height: 560px;
  width: 82.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 80px;
  display: none;
}
.sidebar li{
  border: 1px solid #F5F5F5;
  height: 90px;
  width: 82.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #999999;
}
.sidebar li:nth-child(n+2):nth-child(-n+5){
  border-top: none;
}
.sidebar li i,
.sidebar .last a{
  font-size: 30px;
}
.sidebar .last{
  margin-top: 16px;
}
.sidebar .last a{
  text-decoration: none;
  color: #999999;
}
.sidebar li:hover,
.sidebar .last a:hover+span,
.sidebar a:hover{
  color: #ff6700;
  cursor: pointer;
}
.sidebar-small{
  width: 27px;
  height: 261px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 30px;
}
.sidebar-small li{
  border: 1px solid #F5F5F5;
  height: 40px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #999999;
}
.sidebar-small li:nth-child(n+2):nth-child(-n+5){
  border-top: none;
}
.sidebar-small .last{
  margin-top: 16px;
}
.sidebar-small li:hover,
.sidebar-small .last a:hover,
.sidebar-small a:hover{
  color: #ff6700;
  cursor: pointer;
}
.sidebar-small .last a{
  text-decoration: none;
  color: #999999;
}
@media only screen and (min-width: 1920px) {
  .sidebar{
    display: block;
  }
  .sidebar-small{
    display: none;
  }
}
@media screen and (min-height:1080px){ 
  .sidebar .last{
    display: none;
  }
}
